body{
    padding: 10px;
    width: 100%;
    border: 4px;  solid list-style: color: grey;
    background-color: whitesmoke
    
    
  
}
header{
    color: whitesmoke;
    border:  solid lightskyblue;
    text-align: center;
    background-color: #93d0f4;
    padding: 10px;
    
}
  table{
    width: 100%;
    table-layout: fixed;
    text-align: left;
    
  }
  footer{
    background-color:#93d0f4 ;
    text-align: center;
    border: 100px;
    padding: 10px;
    color: whitesmoke;
    
  }
  section{
    align-items: flex-end;
  }
  